<div id="map_canvas" style="width:100%; height:400px"></div>
<div id="vendaxmes" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div id="vendaxeventos" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div id="receitaxeventos" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div id="produtoxeventos" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div id="precoxeventos" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div style="width: 100%;">
	<div id="taxservice" style=" width: 60%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: left;position: relative;"></div>
	<div id="tipologin" style="width: 40%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: right;position: relative;"></div>
</div>