<fieldset style="width: 100%; height: auto; padding: 20px 0 5px 0; background-color: white">
    <legend>Dados</legend>
    <div style="width: 100%;">
    	<div style="width:400px;padding: 0 20px 0 30px; margin: 0 auto; float: left;line-height:1.5em;">
			<strong>Evento:</strong> {{name}} <br />
			<strong>Data:</strong> {{date}} <br /> 
			<strong>Hora Início:</strong> {{initial_time}} <br /> 
			<strong>Hora Término:</strong> {{final_time}} <br /> 
			<strong>Cidade:</strong> {{city}} <br /> <br />
		</div>
		<div style="width:400px; text-align:left; padding: 0 20px 0 0;margin: 0 auto;line-height:1.5em;">
			<strong>Qtd. de Pedidos:</strong> {{venda}}<br /> 
			<strong>Receita:</strong> US$ {{receita}}<br /> 
			<strong>Taxa de Serviço:</strong> {{tax_service}}%<br /> 
			<strong>Qtd. Produtos:</strong> {{produto}}<br /> 
			<strong>Preços:</strong> US$ {{preco_min}} até US$ {{preco_max}}<br />
		</div>
	</div> 
</fieldset>
<div id="qtdxevento" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div id="intervaloxpedidos" ng-show="venda" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div id="inventoryxproduct" ng-show="produto" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
<div style="width: 100%;">
	<div id="vendaxnivel" ng-show="venda && nivel" style=" width: 40%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: left;position: relative;"></div>
	<div id="receitaxnivel" ng-show="venda && nivel" style="width: 60%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: right;position: relative;"></div>
</div>
<div style="width: 100%;">
	<div id="vendaxsetor" ng-show="venda && setor" style="width: 40%;height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: left;position: relative;"></div>
	<div id="receitaxsetor" ng-show="venda && setor" style="width: 60%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: right;position: relative;"></div>
</div>
<div style="width: 100%;">
	<div id="vendaxconcessions" ng-show="venda && concession" style=" width: 40%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: left;position: relative;"></div>
	<div id="receitaxconcessions" ng-show="venda && concession" style="width: 60%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: right;position: relative;"></div>
</div>
<div style="width: 100%;">
	<div id="vendaxproduto" ng-show="venda && produto" style=" width: 40%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: left;position: relative;"></div>
	<div id="receitaxproduto" ng-show="venda && produto" style="width: 60%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: right;position: relative;"></div>
</div>
<div style="width: 100%;">
	<div id="vendaxlogin" ng-show="venda" style=" width: 40%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: left;position: relative;"></div>
	<div id="receitaxlogin" ng-show="venda" style="width: 60%; height: 300px; padding: 20px 0 30px 0;margin: 0 auto; float: right;position: relative;"></div>
</div>
<div id="deliverymen" ng-show="delivery" style="width: 100%; height: 300px; margin: 0 auto; padding: 20px 0 30px 0;"></div>
