@charset "UTF-8";

body{
	background-color: #f6f6f6;
}

fieldset{
	margin-top: 20px;
	border-radius: 4px;
	border: solid 1px rgba(144, 144, 144, 0.25);
}
legend
{
    font-size:15px;
	font-weight:bold;
	border-radius: 4px;
	border: solid 1px rgba(144, 144, 144, 0.25);
	padding:10px;
	background-color: #f6f6f6;
	margin-left: 10px;
}

#event{
	font-size: 11pt;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 4px;
	border: none;
	border: solid 1px rgba(144, 144, 144, 0.25);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	height: 2.75em;
}

#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}
.iw_content {
	padding: 15px 15px 15px 0;
}