<div class="input-group" style="width:90%;text-align:center">
	<div style="width:100%; text-align:center">
		<img src="../images/logo_small.png"> 
	</div>
	<p><strong>Seja bem-vindo(a) a sua Área Administrativa.</strong></p>
	<p>Através do menu é possível registrar uma entrega, pesquisar um pedido, além listar o seu histórico de entregas.</p>
</div>