<div class="input-group" style="width: 275px;">
	<span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
	<input type="number" class="form-control" value="" name="pedido" placeholder="Digite o número do pedido"><span class="ajax-loader"></span>
</div>

<span class="message"></span>
<input type="hidden" name="title" id="title" value="Registrar uma entrega">
<div style="width: 250px; text-align: center; margin-top: 20px;">
	<button name="registrar" id="registrar" class="btn btn-success btn-large">Registrar</button>
</div>