<div class="input-group" style="width: 275px;">
	<span class="input-group-addon"><i class="fa fa-search"></i></span>
	<input type="number" class="form-control" value="" name="pedido" placeholder="Digite o número do pedido"><span class="ajax-loader"></span>
</div>

<span class="message"></span>
<input type="hidden" name="title" id="title" value="Pesquisar um pedido">
<div style="width: 250px; text-align: center; margin-top: 20px;">
	<button name="pesquisar" id="pesquisar" class="btn btn-success btn-large">Pesquisar</button>
</div>

<div class="order">
</div>