@media print {
    .acoes, .atualizar, #footer, h4, ul, button, select, thead, tr, label, .topo{ display: none; }
	.r-tabs, table tr td, table{ border:0; }
	
	.imprimir{ display: block; }
	body{
		font-size: 10px;
	}
}	