<section id="main" class="container">
	<div class="row" ng-hide="messageOrder">
		<div class="3u box">
			<div class="row uniform box-padding-top">
				<div class="12u">
					<h4>Pedido {{num_order}}</h4>
				</div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<ul class="totals" style="padding-top: 0;">
						<li>Data do pedido: {{date}}</li>
						<li>Horário do pedido: {{hour}}</li>
						<li>{{event_name}} ({{event_date}})</li>
						<li>Nível: {{floor}}</li>
						<li>Setor: {{sector}}</li>
						<li>Cadeira: {{seat}}</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="9u">
			<div class="row uniform">
				<div class="12u">
					<div class="products_location">
						<table width='100%'>
							<tr>
								<th style='background: #f1f1f1;'>Produtos</th>
								<th style='background: #f1f1f1;'>Preço</th>
								<th style='background: #f1f1f1;'>Qtd</th>
								<th style='background: #f1f1f1;'>Subtotal</th>
							</tr>
							<tr ng-repeat="product in products">
								<td><strong>{{product.name}}</strong><br/>{{product.desc}}</td>
								<td>{{product.price_unit}}</td>
								<td>{{product.quantity}}</td>
								<td>{{product.price_total}}</td>
							</tr>
							<tr>
								<td colspan='3' style='text-align: right'>Subtotal (R$)</td>
								<td>{{price}}</td>
							</tr>
							<tr>
								<td colspan='3' style='text-align: right'>Desconto (R$)</td>
								<td>{{discount}}</td>
							</tr>
							<tr>
								<td colspan='3' style='text-align: right'>Taxa de Serviço (R$)</td>
								<td>{{tax_service}}</td>
							</tr>
							<tr>
								<td colspan='3' style='text-align: right'>Gorjeta (R$)</td>
								<td>{{tip}}</td>
							</tr>
							<tr>
								<td colspan='3' style='text-align: right'><strong>Total (R$)</strong></td>
								<td><strong>{{price_total}}</strong></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="messageOrder">
		<div class="12u input-group">
			<div class="msg-alert alert-warning">{{messageOrder}}</div>
		</div>
	</div>
	<div class="row">
		<div class="12u align-center">
			<input type="button" ng-click="go('/page-personal')" class="button azul_escuro" value="Voltar" ng-show="readOrder" style="width:100%">
		</div>
	</div>
</section>