/*
	Striped 2.5 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, textarea
	{
		line-height: 1.75em;
		font-size: 11pt;
		letter-spacing: 0;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	section,
	article
	{
		clear: both;
	}

	.button
	{
		display: block;
		width: 100%;
		font-size: 1.25em;
		padding: 0.75em 0 0.75em 0;
		margin: 0.5em 0 0.5em 0;
	}

	.pager
	{
	}

		.pager .pages
		{
			display: none;
		}

/*********************************************************************************/
/* Title Bar                                                                     */
/*********************************************************************************/

	#titleBar
	{
		/*background: #364050 url('images/bg1.png');*/
		background: rgba(255, 255, 255, 0.6);
	}

	#titleBar .title
	{
		color: #363843;
		line-height: 44px;
		/* font-size: 1.1em; */
		/* font-family: 'Open Sans Condensed', sans-serif; */
		font-weight: 700;
		/* letter-spacing: 0.1em; */
		/* text-shadow: -1px -1px 0px rgba(0,0,0,0.5); */
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
		text-align: center;
	}

	#titleBar .toggle
	{
		text-indent: -9999px;
		width: 80px;
		height: 60px;
		position: absolute;
		left: 0;
		top: 0;
	}

		#titleBar .toggle:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 7px;
			top: 7px;
			width: 50px;
			height: 30px;
			/*background: #18517c url('images/bg1.png');*/
			border-radius: 5px;
			box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
		}

		#titleBar .toggle:after
		{
			content: '';
			display: block;
			position: absolute;
			left: 20px;
			top: 15px;
			width: 50px;
			height: 30px;
			background: url('images/mobileUI-site-nav-opener-bg2.svg') 0 0 no-repeat;
			opacity: 1.0;
		}

		#titleBar .toggle:active
		{
		}

			#titleBar .toggle:active:before
			{
				background-color: #363843;
			}

			#titleBar .toggle:active:after
			{
				opacity: 1.0;
			}

/*********************************************************************************/
/* Side Panel                                                                    */
/*********************************************************************************/

	#sidePanel
	{
		/*background: #28303a url('images/bg1.png');*/
	}

/*********************************************************************************/
/* Section/Article Types                                                         */
/*********************************************************************************/

	.is-post
	{
		/*padding-bottom: 5em;
		margin-bottom: 6em;*/
	}

		.is-post .byline
		{
			font-size: 1em;
			font-family: 'Source Sans Pro', sans-serif;
			line-height: 1.5em;
		}

		.is-post .info
		{
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: solid 1px #ddd;
			padding-top: 0.5em;
		}

			.is-post .info .date
			{
				display: inline;
			}
			
				.is-post .info .date .year
				{
					display: none;
				}
				
				.is-post .info .date .month span
				{
					display: none;
				}

			.is-post .info .stats
			{
				display: inline;
				border-left: solid 1px #ddd;
				margin-left: 0.75em;
				padding-left: 0.75em;
			}

				.is-post .info .stats li
				{
					display: inline-block;
					margin-right: 0.85em;
				}

					.is-post .info .stats li a
					{
						display: inline-block;
						opacity: 0.5;
					}

						.is-post .info .stats li a:before
						{
							position: relative;
							top: 0.1em;
							margin-right: 0.5em;
							opacity: 0.35;
						}

						.is-post .info .stats li a:active
						{
							opacity: 1.0;
						}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		background-image: url('../../images/logo_small.png');
		padding: 1.75em 0.5em 4.75em 0.5em;
		background-repeat: no-repeat;
		margin-left: 35px;
		height: 60px;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		margin-top: 0 !important;
	}

		#nav:before
		{
			display: none !important;
		}
		
		#nav li:hover a
		{
			background-color: #363843;
			color: #fff;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		
	#content
	{
		margin-top: 44px;
		padding: 3em 20px 2em 20px;
		height: 300px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		padding: 20px 12px 20px 10px;
		/*background: #364050 url('images/bg1.png');*/
		background: rgba(255, 255, 255, 0.6);
		-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
		box-shadow: inset -0.1em 0em 0em 0em rgba(0,0,0,0.15);
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 2em 0 0 0;
		text-align: center;
	}

		#copyright p
		{
			font-size: 0.9em;
			line-height: 2em;
		}
	
		#copyright:before
		{
			height: 0.5em;
			margin: 0 0 2em 0;
		}
		
h2 {
	font-size: 1.2em;
	margin-top: 20px;
}

.pedido li, table{
	font-size: 11px;
}
